.DS_Store
Desktop.ini
Thumbs.db
*.o
nbproject
.project
.metadata
cli/js
cli/dev
/bin
/doc/stdmods.js
*.elf
*.log
*.exe
*.stackdump
dev.js
dev.cc
tmp
tmp/
/duktape/*.txt
/duktape/*.xz
/duktape/*.tar
/duktape/*.tgz
/duktape/*.c
/duktape/*.h
/duktape/duktape-releases
